#colorSelect img,
#charmSelect img {
    margin-left: 15px;
    margin-bottom: 10px;
    opacity: 0.5;
    border: 2px solid black;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    width: 60px;
    height: 60px;
}

#cart img {
    width: 50px;
    height: 50px;
}

#cart-order img {
    width: 100px;
    height: 100px;
}

#colorSelect img.selected,
#charmSelect img.selected {
    opacity: 1;
}

#passportImage > div:first-child,
#viImage > div:first-child {
    position: relative;
}

#passportImage > div:first-child {
    height: 472px;
}

#viImage > div:first-child {
    height: 340px;
}

#passportOrder, #viOrder {
    margin-top: 10px
}

#lblNote, #imgCharm,
#imgCover, #imgVi,
#lblNoteVi {
    position: absolute;
}

#imgCharm {
    top: 260px;
    left: 260px;
    width: 90px;
    z-index: 2;
}

#imgCharm.long {
    top: 210px;
    left: 250px;
}

#lblNoteVi, #lblNote {
    text-align: center;
    text-transform: uppercase;
    opacity: 0.8;
    color: rgb(119, 72, 34);
    z-index: 3;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#lblNoteVi {
    top: 200px;
    left: 210px;
    width: 350px;
    font-size: 17px;
}

#lblNote {
    top: 368px;
    left: 85px;
    width: 350px;
    font-size: 23px;
}

.table-footer {
    margin-top: 20px;
}
