<!DOCTYPE html>
<html>

<head>
    <title>Đặt hàng Vuong Store</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/nprogress.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/custom.css" media="screen,projection" />
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="app" ng-controller="myCtrl">
    <nav class="amber darken-2" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo center">Vuong Store</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h4>Danh sách đặt hàng</h4>
            <table id="cart-order" class="bordered striped responsive-table">
                <tr>
                    <th>Tên</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Hàng cần giao</th>
                    <th>Ghi chú </th>
                </tr>
               <tr ng-repeat="order in orders">
                   <td>{{order.receiver}}</td>
                   <td>{{order.phone}}</td>
                   <td>{{order.address}}</td>
                   <td>
                       <div ng-repeat="item in order.cart">
                          {{item.type}} : {{item.color}}, {{item.name | uppercase}} {{item.charm ? ', ' + item.charm : ''}}
                       </div>
                   </th>
                   <td>{{order.note}}</td>
               </tr>
               <tr>
                   <td class="right-align" colspan='5'>
                     <button ng-click="clear()" class="btn waves-effect waves-light" type="submit" name="action">
                        Clear <i class="material-icons">shopping_cart</i>
                    </button>
                   </td>
               </tr>
            </table>
        </div>
    </div>
    <footer class="page-footer amber darken-2">
        <div class="footer-copyright">
            <div class="container">
                Copyright by <a class="orange-text text-lighten-3" href="http://materializecss.com">H.Pham | Aswig Solutions</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script>
    var app = angular.module('app', []);

    app.controller('myCtrl', ['$scope', '$http', function($scope, $http) {

        loadOrders();

        function loadOrders() {
            var apiLink = 'https://api.mongolab.com/api/1/databases/vuong_shop_order/collections/orders/' + '?apiKey=Rds2DpkLY7_VqsMfmgfSo_EdzafbQvOs';
            $http.get(apiLink).then(function(rs) {
                $scope.orders = rs.data;
            });
        };

        $scope.clear = function() {
            var apiLink = 'https://api.mongolab.com/api/1/databases/vuong_shop_order/collections/orders/' + '?apiKey=Rds2DpkLY7_VqsMfmgfSo_EdzafbQvOs';
            $http.put(apiLink, []).then(function(){
                    alert("Đã clear toàn bộ đơn hàng");
            });
        }
    }]);
    </script>
</body>

</html>
